

.content-1{
    text-align: center;
    
}
.content-1-image{
    background-image: url("../images/cheesecake-2-pequeña.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
