.bg-dark-grey{
    background-color: #474747;
}
/*  */
.top-bar{
    display: flex;
    justify-content: space-between;
    background-color: #474747;
    max-width: 1250px;
    margin: 0 auto;
}
.top-bar a{
    color: white;
    align-items: center;
    display: flex;
    gap: 8px;
}


.top-bar-contact{
    display: flex;
    align-items: center;
    gap: 25px;
}

.top-bar-social-menu{
    display: flex;
    align-items: center;
    gap: 4px;
}
.main-menu{
    max-width: 1250px;
}